:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    --background-color-main: #e7e0e0;
    --background-color-secondary: #000;
    --text-color-main: #e6dddd;
    --text-color-secondary: #b4afaf;
    background-color: var(--background-color-main);
}

body {
    display: flex;
    flex-direction: column;
    min-height:100%;
}

.footer {
    padding: 5vh 2vh;
    width: 100%;
    background-color: var(--background-color-secondary);
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    padding-bottom: 10px;
}

.footer__section--address {
    grid-row: 2;
    grid-column: 2; 
}

.footer__text {
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    padding: 0.3rem 0;
    color: var(--text-color-secondary);
}

.footer__address {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer__section {
    display: flex;
    flex-direction: column;
}

.footer__heading {
    font-style: normal;
    font-size: 0.75rem;
    color: var(--text-color-main);
}

.container {
    border-top: 1px solid #272727;
    padding-top: 2vh;
    margin-top: auto;
}

@media(min-width: 1020px) {

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__nav {
        width: 60%;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-template-rows: repeat(2, minmax(50px, 1fr));
    }

    .container {
        border: none;
        align-self: center;
    }
}