:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    --background-color-main: #3F3F3F;
    --background-color-secondary: #1d1b1b;
    --text-color-main: #e6dddd;
    --text-color-secondary: #b4afaf;
    background-color: var(--background-color-main);
}

.footer {
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: 10vh 10vh 10vh;
    grid-gap: 1em;
    width: 100vw;
    bottom: 100%;
    background-color: var(--background-color-secondary);
}

.footer__text {
    display: none;
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--text-color-secondary);
}

.footer__section {

}

.footer__heading {
    text-align: center;
    font-style: normal;
    font-size: 0.95rem;
    color: var(--text-color-main);
}

.footer__text--copyright {
    display: block;
    align-self: end;
    grid-row: 3;
    grid-column: 1 / 5;
}
