:root {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    --background-color-main: #3F3F3F;
    --background-color-secondary: #000;
    --text-color-main: #e6dddd;
    --text-color-secondary: #b4afaf;
    background-color: var(--background-color-main);
}


.footer {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, 25vh) 15vh ;
    padding-top: 5vh;
    margin-bottom: 0;
    width: 100vw;
    background-color: var(--background-color-secondary);
}

.footer__text {
    font-size: 0.75rem;
    font-style: normal;
    text-decoration: none;
    padding: 0.3rem 0;
    color: var(--text-color-secondary);
}

.footer__address {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer__section {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;

}

.footer__heading {
    font-style: normal;
    font-size: 0.75rem;
    color: var(--text-color-main);
}

.footer__text--copyright {
    border-top: 1px solid #272727;
    grid-row: 4;
    grid-column: 1 / 3;
    padding-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

@media(min-width: 600px) {
    .footer {
        grid-template-rows: repeat(2, 50vh);
        grid-template-columns: repeat(3, 25vw);
    }
}

@media(min-width: 1020px) {
    
}